APP_NAME=
APP_ENV=
APP_PORT=
DB_HOST=
DB_PORT=
POSTGRES_HOST_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_SSLMODE=
JWT_SECRET=
JWT_EXPIRES_HOURS=
UPLOAD_MAX_SIZE_MB=
UPLOAD_ALLOWED_EXTENSIONS=
STORAGE_PATH=
